@import "tailwindcss";

/* GLOBAL COLORS */
body {
  background-color: #ffffff;
  color: #1f2937;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Wenn <html class="dark"> ist */
html.dark body {
  background-color: #111827;
  color: #f3f4f6;
}
