@import url("https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap");

@import "tailwindcss";

body {
  @apply bg-slate-200 text-blue-900;
}

:root {
  --navbar-height: 80px;
}

body {
  padding-top: var(--navbar-height);
  font-family: sans-serif;
  font-family: "Libertinus Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  background: bg-slate-100;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

main {
  padding-top: var(--navbar-height);
}

.menu-wrapper {
  position: fixed;
  top: var(--navbar-height);
  right: 0;
  width: 25%;
  max-width: 300px;
  height: calc(100vh - var(--navbar-height));
  background-color: #f9f9f9;
  overflow: hidden;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  z-index: 100;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1); /* bleibt immer sichtbar */
}

.menu-wrapper.closed {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.menu-wrapper.open {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
}

.menu-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  transition: opacity 0.4s ease;
}

/* Responsive input field */
@media (max-width: 600px) {
  .search-input {
    font-size: 14px !important;
    padding: 8px !important;
  }
}
